.home-site {
    margin-left: 90px;
    margin-right: 90px;
}

.site-title h3 {
    padding-top: 35%;
    height: 2px;
    display: inline-block;
}

.site-title h1 {
    font-size: 80px;
}

.site-title h4 {
    font-size: 24px;
}

.homesite-image img {
    padding: 20px;
    width: 1440px;
    margin-top: 120px;
}